<div class = "subtitle">
  <h2>Contact Us</h2>
</div>

<div class = "heading">
  <h3>Something missing? Something wrong?  Tell us <%=mail_to "jdshatz91@gmail.com" do %>here.<%end%> Just remember to make sure it is reliable. </h3>  <!-- Eventually, we will get a domain name and a custom e-mail.  Perhaps an e-mail form could work?  Either way, all submissions will be sent to a middleman - namely, the staff - to check for accuracy and printability. -->
</div>

<div class = "heading" id = "nb"> <!--Under the 'heading' class for the sake of convience.  Nb, for those who may not be familiar with "n.b." notes, stands for "nota bene".  It means "note well" or "take note".-->
  <h4><i>Note: The staff reserves the right to not put your contributions on our site.  Obscenity, libel and slander will never be tolerated, let alone printed.</i></h4>
  <h4><i>If you are submitting a new fact on a candidate's stance, please cite your sources.  </i></h4>
  <br>
</div>