<div class= "redirect">
  <h4><a href="/home/grid">   Back to the GRID   </a></h4>
</div>

<div class="showpage">
  <div class="showtitle">
    <h2> <%=@candidate.name%></h2>
  </div>

  <div class="showtitle">
    <h1><em>on</em></h1>
  </div>

  <div class="showtitle">
    <h2><%=@issue.issname%> </h2>
  </div>

<div class="showposition">
    <h4><%=@position.position%></h4>
    </div> 
</div>