/* line 29, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
body {
  width: 90vw;
  background-color: #bfbec1;
  margin-left: 5vw;
  margin-right: 5vw;
}
/* line 35, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
body .navigation {
  margin-left: 0vw;
  margin-right: 0vw;
}
@media all and (min-device-width: 768px) {
  /* line 35, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
  body .navigation {
    width: 75vw;
  }
}
@media all and (max-width: 768px) {
  /* line 35, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
  body .navigation {
    width: 100vw;
  }
}
@media all and (min-device-width: 769px) {
  /* line 45, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
  body .navigation img {
    width: 20vw;
    height: 8vw;
    /*Laptop/desktop design. Work on media queries! */
    border: 1vw solid white;
  }
}
@media all and (min-device-width: 481px) and (max-device-width: 768px) {
  /* line 45, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
  body .navigation img {
    width: 50vw;
    height: 18vw;
    border: 1vw solid white;
    margin: 0 auto;
    margin-left: 17.5vw;
    /* margin: 0 auto doesn't center it perfectly. */
    margin-right: 20vw;
  }
}
@media all and (max-device-width: 480px) {
  /* line 45, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
  body .navigation img {
    border: 1vw solid white;
    width: 90vw;
    height: 30vw;
    /*On mobile, the title will be atop the nav.*/
  }
}
/* line 66, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
body .navigation nav ul {
  margin-right: -5vw;
  text-align: center;
}
/* line 69, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
body .navigation nav ul li {
  list-style: none;
  font-family: "Neuton", serif;
}
@media all and (min-device-width: 769px) {
  /* line 69, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
  body .navigation nav ul li {
    display: inline;
    padding: 0vw 2.5vw 0vw 1.5vw;
    font-size: 3.5vw;
    font-family: 'Playfair Display SC', serif;
    font-weight: 400;
  }
}
@media all and (min-device-width: 481px) and (max-device-width: 768px) {
  /* line 69, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
  body .navigation nav ul li {
    display: inline-block;
    margin-left: 1.9vw;
    font-size: 4vw;
    font-family: 'Playfair Display SC', serif;
  }
}
@media all and (max-device-width: 480px) {
  /* line 69, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
  body .navigation nav ul li {
    display: block;
    font-size: 8vw;
    margin-left: -8vw;
  }
}
@media all and (min-device-width: 481px) {
  /* line 92, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
  body .navigation nav .menutab {
    display: none;
  }
}
@media all and (max-device-width: 480px) {
  /* line 92, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
  body .navigation nav .menutab {
    display: block;
  }
  /* line 98, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
  body .navigation nav .menutab li {
    color: #9909AB;
  }
}
@media all and (max-device-width: 480px) {
  /* line 103, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
  body .navigation nav .mainmenu {
    display: none;
    position: relative;
    background-color: #000000;
  }
}
/* line 113, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
body a {
  text-decoration: none;
  font-family: 'Playfair Display SC', serif;
  color: #9909AB;
}
/* line 119, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
body a:visited {
  text-decoration: none;
}
/* line 124, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
body .yielding {
  width: 80vw;
  margin-left: 5vw;
  margin-right: 5vw;
  background-color: #404040;
}
/* line 130, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
body .yielding .subtitle {
  padding-top: 2vw;
  padding-bottom: 0.5vw;
  color: #C5BD99;
  text-align: center;
  line-height: 4vw;
  font-family: "Esteban", serif;
  font-weight: 300;
  text-align: center;
  line-height: 6vw;
}
/* line 140, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
body .yielding .subtitle h2 {
  font-size: 6vw;
}
@media all and (max-device-width: 480px) {
  /* line 140, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
  body .yielding .subtitle h2 {
    font-size: 8vw;
    line-height: 7vw;
  }
}
/* line 151, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
body .yielding .heading h3 {
  margin-top: 2vw;
  width: 70vw;
  margin-right: 10vw;
  margin-left: 5vw;
  color: white;
  font-size: 2.5vw;
  font-weight: 300;
  text-align: center;
  line-height: 2vw;
  font-family: 'Neuton', serif;
}
@media all and (max-device-width: 480px) {
  /* line 151, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
  body .yielding .heading h3 {
    font-size: 8vw;
    line-height: 7vw;
    margin-right: 15vw;
  }
}
/* line 169, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
body .yielding .heading h3 a {
  font-size: 4vw;
  color: #C5BD99;
  text-transform: none;
}
@media all and (max-device-width: 480px) {
  /* line 169, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
  body .yielding .heading h3 a {
    margin-right: 1vw;
    margin-left: 1vw;
    color: white;
    font-size: 5vw;
    line-height: 5vw;
    font-weight: 700;
  }
}
/* line 186, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
body .yielding .heading h4 {
  width: 60vw;
  color: white;
  margin-right: 20vw;
  margin-left: 10vw;
  font-size: 1.5vw;
  font-weight: 200;
  text-align: center;
  line-height: 3vw;
  font-family: 'Neuton', serif;
}
@media all and (max-device-width: 480px) {
  /* line 186, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
  body .yielding .heading h4 {
    width: 60vw;
    font-size: 4vw;
    line-height: 4vw;
    margin-right: 20vw;
    margin-left: 10vw;
  }
}
/* line 206, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
body .yielding .heading #red {
  color: #ff0020;
  font-weight: normal;
}
/* line 211, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
body .yielding .heading #blue {
  color: #0074aa;
  font-weight: normal;
}
/* line 217, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
body .yielding .member {
  width: 80vw;
}
/* line 220, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
body .yielding .member div {
  display: inline-block;
  align-content: center;
}
@media all and (max-device-width: 480px) {
  /* line 220, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
  body .yielding .member div {
    display: block;
    margin: 0 auto;
  }
}
/* line 230, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
body .yielding .staffpic {
  width: 30vw;
}
/* line 232, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
body .yielding .staffpic img {
  height: 36vw;
  width: 24vw;
}
@media all and (min-device-width: 769px) {
  /* line 232, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
  body .yielding .staffpic img {
    float: left;
    margin-left: 4vw;
  }
}
@media all and (max-device-width: 480px) {
  /* line 232, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
  body .yielding .staffpic img {
    height: 40vw;
    width: 30vw;
  }
}
/* line 246, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
body .yielding .bio {
  width: 40vw;
}
@media all and (max-device-width: 480px) {
  /* line 246, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
  body .yielding .bio {
    width: 90vw;
  }
}
/* line 253, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
body .yielding .bio h3 {
  color: white;
  width: 30vw;
  font-size: 2.5vw;
  font-weight: 2vw;
  line-height: 2vw;
  font-family: 'Esteban', serif;
}
@media all and (max-device-width: 768px) {
  /* line 253, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
  body .yielding .bio h3 {
    font-size: 1.5vw;
    float: left;
  }
}
@media all and (max-device-width: 480px) {
  /* line 253, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
  body .yielding .bio h3 {
    font-size: 5vw;
    width: 90vw;
    text-align: center;
    margin-left: -4.5vw;
  }
}
/* line 271, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
body .yielding .bio p {
  width: 34vw;
  margin-right: 5vw;
  padding-bottom: -2vw;
  color: white;
  font-size: 2vw;
  font-weight: 2vw;
  text-align: left;
  font-family: 'EB Garamond', Georgia, serif;
  margin-left: 0vw;
}
@media all and (max-device-width: 480px) {
  /* line 271, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
  body .yielding .bio p {
    width: 65vw;
    margin-left: 7.5vw;
    margin-right: 30vw;
    padding-bottom: 5vw;
    text-align: center;
  }
}
@media all and (max-device-width: 480px) {
  /* line 292, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
  body .yielding .paragraphs {
    height: 80vw;
    overflow-y: scroll;
    font-size: 5vw;
  }
}
/* line 298, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
body .yielding .paragraphs p {
  width: 60vw;
  margin-right: 10vw;
  margin-left: 10vw;
  font-size: 4vw;
  color: white;
  font-size: 2vw;
  font-weight: 300;
  text-align: center;
  font-family: 'Esteban', serif;
  padding-bottom: 2vw;
}
@media all and (max-device-width: 768px) {
  /* line 298, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
  body .yielding .paragraphs p {
    font-size: 3vw;
  }
}
@media all and (max-device-width: 480px) {
  /* line 298, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
  body .yielding .paragraphs p {
    font-size: 5vw;
  }
}
/* line 319, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
body .footer {
  width: 80vw;
  position: relative;
}
/* line 322, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
body .footer div {
  display: inline;
}
/* line 325, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
body .footer #copyright {
  width: 90vw;
}
/* line 327, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
body .footer #copyright p {
  float: left;
  font-size: 1vw;
  line-height: 0.5vw;
  color: #FFFFFF;
  margin-top: 9vw;
}
@media all and (max-device-width: 768px) {
  /* line 327, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
  body .footer #copyright p {
    font-size: 1.5vw;
    float: left;
  }
}
@media all and (max-device-width: 480px) {
  /* line 327, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/home.scss */
  body .footer #copyright p {
    font-size: 2.5vw;
    float: left;
  }
}



@media all and (min-width: 481px) and (max-width:768px) {
  nav ul li{
  list-style: none;
  display: inline;
  padding: 0vw 3vw 0vw 3vw;
  margin-left: 2vw;
}

  nav ul li a{
    font-size:2vw;
  }
}

@media all and (min-width: 768px) {
  nav ul li{
  list-style: none;
  display: inline;
  margin-left: 2vw;
}

  nav ul li a{
    font-size:2.5vw;
  }
}


@media all and (max-width: 480px){
.title img{
  border: 2vw solid white;
  width: 150vw;
  height: 70vw; /*Laptop/desktop design. Work on media queries! */
}

.subtitle {
  padding-top: 2vw;
  padding-bottom: 0.5vw;
  color:#000044;
  font-weight:300;
  text-align:center;
  line-height: 6vw;
  font-family:"Arapey", serif;
}

.subtitle h2{
  font-size:6vw;
}

}


/*Pages other than the home page*/

/*About page*/

.paragraphs{
  p{ 
    width: 60vw;
    margin-right: 10vw;
    margin-left: 10vw;
    font-size: 4vw;
    color: white;
    font-size:2vw;
    font-weight:300;
    text-align:center;
    font-family:'Esteban', serif;
    padding-bottom: 2vw;
  }
}

/* line 1, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/positions.scss */
.grid {
  width: 80vw;
  overflow-x: scroll;
}
/* line 4, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/positions.scss */
.grid table {
  display: table-header-group;
  padding-top: 1vw;
  padding-bottom: 0.3vw;
  table-layout: fixed;
  overflow: auto;
  width: 745vw;
  padding: 1vw;
}
/* line 13, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/positions.scss */
.grid table tr {
  width: 745vw;
  border: 1vw #203042;
}
/* line 18, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/positions.scss */
.grid table th {
  background-color: #403049;
  color: white;
  line-height: 2vw;
  width: 15vw;
  height: 2vw;
}
@media all and (max-device-width: 480px) {
  /* line 18, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/positions.scss */
  .grid table th {
    height: 4vw;
    line-height: 6vw;
  }
}
/* line 29, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/positions.scss */
.grid table th h2 {
  font-family: 'Esteban', sans-serif;
  color: white;
  font-weight: 700;
  font-size: 2.2vw;
  width: 14vw;
  padding: 1vw;
}
@media all and (max-device-width: 480px) {
  /* line 29, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/positions.scss */
  .grid table th h2 {
    font-size: 3vw;
  }
}
/* line 42, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/positions.scss */
.grid table td {
  text-align: center;
  padding-bottom: 1vw;
  font-size: 2vw;
  width: 15vw;
  background-color: #5f5f5f;
}
@media all and (max-device-width: 480px) {
  /* line 42, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/positions.scss */
  .grid table td {
    height: 25vw;
  }
}
/* line 51, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/positions.scss */
.grid table td h3 {
  font-family: 'Esteban', serif;
  font-size: 2vw;
  color: white;
}
@media all and (max-device-width: 480px) {
  /* line 51, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/positions.scss */
  .grid table td h3 {
    font-size: 10vw;
  }
}
/* line 59, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/positions.scss */
.grid table td h2 {
  font-family: 'Esteban', serif;
  font-size: 2vw;
  color: white;
}
@media all and (max-device-width: 480px) {
  /* line 59, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/positions.scss */
  .grid table td h2 {
    font-size: 10vw;
  }
}
/* line 70, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/positions.scss */
.grid .candiname {
  background-color: #452059;
}
/* line 72, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/positions.scss */
.grid .candiname h2 {
  color: white;
  font-family: 'Esteban', serif;
  font-size: 1.4vw;
  line-height: 0.3vw;
}
@media all and (max-device-width: 480px) {
  /* line 72, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/positions.scss */
  .grid .candiname h2 {
    font-size: 5vw;
    line-height: 6vw;
  }
}
/* line 82, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/positions.scss */
.grid .candiname h4 {
  color: white;
  font-family: 'Esteban', serif;
  font-size: 1.2vw;
  line-height: 0vw;
}
@media all and (max-device-width: 480px) {
  /* line 82, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/positions.scss */
  .grid .candiname h4 {
    font-size: 3vw;
    line-height: 3vw;
  }
}
/* line 94, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/positions.scss */
.grid #racetype {
  background-color: #404045;
  color: white;
  font-family: 'EB Garamond', serif;
}
/* line 100, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/positions.scss */
.grid .issuename {
  background-color: #404045;
  color: white;
  font-family: 'Esteban', serif;
}
/* line 106, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/positions.scss */
.grid .positions {
  background-color: #202023;
}
/* line 108, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/positions.scss */
.grid .positions h3 {
  display: none;
  height: 0vw;
  font-size: 3vw;
  margin-top: -1vw;
}
/* line 113, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/positions.scss */
.grid .positions h3 a {
  color: white;
}

/* line 120, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/positions.scss */
.explain {
  width: 70vw;
  margin-left: 5vw;
  margin-right: 5vw;
}
/* line 124, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/positions.scss */
.explain h2 {
  color: white;
  font-weight: 500;
  position: relative;
  font-family: 'EB Garamond', serif;
  padding: .2vw 3vw .2vw 3vw;
  position: relative;
}

/*Display page -- show view*/
/* line 138, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/positions.scss */
.redirect a {
  font-family: 'EB Garamond', serif;
  color: white;
  font-size: 2vw;
  opacity: 0.7;
}
/* line 144, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/positions.scss */
.redirect a:hover {
  text-transform: none;
  opacity: 1;
}

/* line 149, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/positions.scss */
.showpage {
  width: 74vw;
  height: 40vw;
  margin: 0 auto;
  border-color: #100000;
  border-width: 2vw;
  border-style: solid;
  background-color: black;
  position: relative;
  opacity: 1;
  overflow-y: scroll;
  text-align: center;
  margin-bottom: 2vw;
}
/* line 163, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/positions.scss */
.showpage .showtitle {
  display: inline-block;
  width: 24vw;
  text-align: center;
  margin-bottom: -2vw;
}
/* line 168, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/positions.scss */
.showpage .showtitle h1 {
  font-family: 'Esteban', serif;
  color: white;
  font-size: 7vw;
  margin-left: -4vw;
}
/* line 174, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/positions.scss */
.showpage .showtitle h2 {
  font-family: 'Esteban', serif;
  font-size: 4vw;
  color: white;
}
/* line 182, /Users/jasonshatz/Desktop/jwts-final/app/assets/stylesheets/positions.scss */
.showpage .showposition h4 {
  font-family: 'Esteban', serif;
  color: white;
  font-size: 2vw;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

