<%@title = "About JUST Where They Stand" %>

<div class = "subtitle">
  <h2>About Us</h2>
</div>

<div class = "heading">
  <h3>Beneath all the <em id = "red">style</em> and the <em id = "blue">spin</em>...</h3> <!--No partisan preference has been intended here. -->
</div>

<div class = "paragraphs">
  <p>That is the space in which we operate, for therein lies the information that all citizens need to know before before they fulfill their civic duty and vote.  The atmosphere that pervades our nation's civic discourse has removed the focus of voters from the substance to a whirlwind of fiction and flamboyance, schtick and stagecraft.  Many Americans thus approach the voting booth confused or ill-informed, if they are not driven to stay home.</p>

  <p>We are a <b>non-partisan</b> operation that aims to venture beyond the veneer, clear the air, and present the facts. We use a variety of sources, including news reports, press releases, campaign websites, and the words of the candidates themselves.  If a candidate seems to change a position, no matter how often, we will investigate the evolution of that candidate's thinking.  And we will compare the positions of the candidates to those in official party platforms, taking any and all divergences into account. </p>

  <p>One of the most important differences between us and other similar ventures is that we will also highlight what the candidates have <i>not</i> said -- or, not <i>yet</i> said.  We hope that our app will be filled with candidates' positions on as many pertinent issues as possible - but when there are gaps, we hope that this app helps hold our present and future elected officials to account. If <i>we</i> are missing any information, we have set up a system for you to contribute. </p>   

  <p>No matter what you do here - peruse our database, contribute to it, or both - we hope that JUST WHERE THEY STAND will help you become the informed citizen that America demands. </p>


