<%@title = "JUST Where They Stand - Our Staff" %>

<div class = "subtitle">
  <h2>Our Staff</h2>
</div>

<div class = "member"> <!--Photos and bios of the staff of JTWS. As of now, there is only one member - yours truly. -->
  <div class="staffpic"> <!--As we get more staff members, we will apply the same format to their profiles. -->
    <img src="/assets/shatz.jpg"/>
  </div>
  
  <div class="bio">
      <h3>J.D. Shatz</h3> 

      <h3>(Founder/President/Editor)</h3>

      <p>Jason D. Shatz founded JUST WHERE THEY STAND in 2016. He was previously a writer and researcher in various forums, and he still writes from time to time.  As of now, he is preoccupied with learning the code that will help bring his ideas to life. Currently studying web development at the New York Code and Design Academy, he holds a B.A. in Government and Writing from Wesleyan University.</p>
  </div>
</div>